<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <clr-vertical-nav-group
          routerLinkActive="active">
      <cds-icon shape="line-chart" clrVerticalNavIcon></cds-icon>
      {{'Nav.Assessments.title'| translate}}
      <clr-vertical-nav-group-children>
        <a clrVerticalNavLink
           routerLink="/assessments/report"
           routerLinkActive="active">
           {{'Nav.Assessments.image_nspector_reports'| translate}}
        </a>
    </clr-vertical-nav-group-children>
    <clr-vertical-nav-group-children>
        <a class="kube-bench"
            clrVerticalNavLink
           routerLink="/assessments/kube-bench"
           routerLinkActive="active">
           {{'Nav.Assessments.Kube_bench'| translate}}
        </a>
    </clr-vertical-nav-group-children>
    <clr-vertical-nav-group-children>
        <a 
            clrVerticalNavLink
           routerLink="/assessments/risk"
           routerLinkActive="active">
           {{'Nav.Assessments.risk'| translate}}
        </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
          routerLinkActive="active">
      <cds-icon shape="organization" clrVerticalNavIcon></cds-icon>
      {{'Nav.Insight.title'| translate}}
      <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             routerLink="/insight/cluster"
             routerLinkActive="active">
             {{'Nav.Insight.cluster'| translate}}
          </a>
          <a clrVerticalNavLink
             routerLink="/insight/namespace"
             routerLinkActive="active">
             {{'Nav.Insight.namespace'| translate}}
              
          </a>
          <a clrVerticalNavLink
             routerLink="/insight/workload"
             routerLinkActive="active">
             {{'Nav.Insight.workload'| translate}}
             
          </a>
      </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <a clrVerticalNavLink [routerLink]="['/policy']" routerLinkActive='active'>
    <cds-icon clrVerticalNavIcon shape="file-settings" ></cds-icon>
    <b>{{'Nav.Policy.title'| translate}}</b>
  </a>
  <a clrVerticalNavLink [routerLink]="['/setting']" routerLinkActive='active'>
    <cds-icon clrVerticalNavIcon shape="cog" ></cds-icon>
    <b>{{'Nav.Setting.title'| translate}}</b>
  </a>
  <!-- <clr-vertical-nav-group
          routerLinkActive="active">
      <cds-icon shape="cog" clrVerticalNavIcon></cds-icon>
      Setting
      <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             routerLink="./fire/charmander"
             routerLinkActive="active">
              Policy
          </a>
          <a clrVerticalNavLink
             routerLink="./fire/charizard"
             routerLinkActive="active">
              Harbor
          </a>
      </clr-vertical-nav-group-children>
  </clr-vertical-nav-group> -->
</clr-vertical-nav>