<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="card detail-bg">
  <clr-accordion clrAccordionMultiPanel="true" >
    <clr-accordion-panel >
      <clr-accordion-title>{{'Report_Detail.title'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <ul class="list" *ngIf="detailInfo._source">
          <li>
            <b>UID: </b>
            <span>{{detailInfo._source.uid}}</span>
          </li>
          <li>
            <b>{{'CommonlyUse.name'|translate}}: </b>
            <span>{{detailInfo._source.name}}</span>
          </li>
          <li>
            <b>{{'CommonlyUse.namespace'|translate}}: </b>
            <span>{{detailInfo._source.namespace}}</span>
          </li>
          <li>
            <b>Kind: </b>
            <span>{{detailInfo._source.kind}}</span>
          </li>
          <li>
            <b>{{'CommonlyUse.create_time'|translate}}: </b>
            <span>{{detailInfo._source.createTime | date: 'medium'}}</span>
          </li>
        </ul>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel >
      <clr-accordion-title>{{'CommonlyUse.details' | translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <clr-datagrid class="datagrid" *ngIf="detailInfo._source && detailInfo._source.Detail.length > 0 ">
          <clr-dg-column [clrDgField]="'score'">score</clr-dg-column>
          <clr-dg-column [clrDgField]="'scale'">scale</clr-dg-column>
          <clr-dg-column [clrDgField]="'vuln.package'">package</clr-dg-column>
          <clr-dg-column [clrDgField]="'vuln.version'">{{'CommonlyUse.version'|translate}}</clr-dg-column>
          <clr-dg-column [clrDgField]="'vuln.fix_version'">{{'CommonlyUse.fix_version'|translate}}</clr-dg-column>
          <clr-dg-column [clrDgField]="'reason'">{{'Kube_bench_list.reason'|translate}}</clr-dg-column>
          <clr-dg-column >{{'CommonlyUse.description'|translate}}</clr-dg-column>

          <clr-dg-row *clrDgItems="let detail of detailInfo._source.Detail" [clrDgItem]="detail">
            <clr-dg-cell>{{detail.score}}</clr-dg-cell>
            <clr-dg-cell>{{detail.scale}}</clr-dg-cell>
            <clr-dg-cell>{{detail.vuln.package}}</clr-dg-cell>
            <clr-dg-cell>{{detail.vuln.version}}</clr-dg-cell>
            <clr-dg-cell>{{detail.vuln.fix_version}}</clr-dg-cell>
            <clr-dg-cell>{{detail.reason}}</clr-dg-cell>

            <clr-dg-cell>{{detail.vuln.description}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">item per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} items
            </clr-dg-pagination>
        </clr-dg-footer>
        </clr-datagrid>

      </clr-accordion-content>
      </clr-accordion-panel>
  </clr-accordion>
</div>