<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="card cluster">
  <div class="left">
    <h3>{{'Nav.Insight.cluster' | translate}} {{'CommonlyUse.summary' | translate}}</h3>
    <ul>
      <li>
        <span class="title">{{'Cluster.kubernetes_version'|translate}}</span>
        <span class="content">{{shardService.nodesInfo.version}}</span>
      </li>
      <li>
        <span class="title">Provider</span>
        <span class="content">{{provider}}</span>
      </li>
      <li *ngIf="shardService.navVariable === 'Cluster'">
        <span class="title">{{'Cluster.nodes_resource'|translate}}:</span>
        <div class="content">
          <div class="success">
            <label ><cds-icon shape="cpu" class="is-solid"></cds-icon>CPU: </label>
            
            <span class="success">{{'Cluster.capacity'|translate}}: <b>{{shardService.nodesInfo.cpu.capacity}}</b> </span>
            <span class="success"> {{'Cluster.allocatable'|translate}}: <b>{{shardService.nodesInfo.cpu.allocatable}}</b></span>
          </div>
          <div class="success">
            <label ><cds-icon shape="memory" class="is-solid"></cds-icon>{{'Cluster.memory'|translate}}:</label>
            <span class="success">{{'Cluster.capacity'|translate}}: <b>{{shardService.nodesInfo.memory.capacity}}Ki </b> </span>
            <span class="success"> {{'Cluster.allocatable'|translate}}: <b>{{shardService.nodesInfo.memory.allocatable}}Ki</b></span>
          </div>
        </div>
      </li>
      <li *ngIf="shardService.navVariable === 'Cluster'">
        <span class="title">{{'Cluster.nodes'|translate}}: </span>
        <span><b>{{shardService.nodesInfo.list?.length}}</b></span>
      </li>
    </ul>
  </div>
</div>