<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="sddc-header">
  <h2 class="sddc-title">

    {{'Policy.policy'|translate}}</h2>
</div>
<button *ngIf="policyList.length < 1" style="margin-left: 20px;" class="btn btn-primary btn-sm create" routerLink="/modify-policy/create">
  <cds-icon shape="plus"></cds-icon>
  {{'CommonlyUse.new'|translate}}</button>
<clr-datagrid [clrDgLoading]="policyLoading">
  <clr-dg-column>{{'CommonlyUse.name' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Nav.Setting.title' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Policy.image' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Policy.schedule' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Policy.workNamespace' | translate}}</clr-dg-column>
  <clr-dg-column>{{'CommonlyUse.create_time'| translate}}</clr-dg-column>
  <clr-dg-column>{{'Policy.imagePullPolicy'| translate}}</clr-dg-column>
  <clr-dg-column>{{'Report_Detail.actions'| translate}}</clr-dg-column>
  
  <clr-dg-row *clrDgItems="let policy of policyList">
      <clr-dg-cell>
        {{policy.metadata?.name}}                    </clr-dg-cell>
      <clr-dg-cell>{{policy.spec.settingsName}}</clr-dg-cell>
      <clr-dg-cell>{{policy.spec.inspector?.image ? policy.spec.inspector?.image : policy.spec.inspector?.kubebenchImage}}</clr-dg-cell>
      <clr-dg-cell>{{policy.spec.schedule}}</clr-dg-cell>
      <clr-dg-cell>{{policy.spec.workNamespace}}</clr-dg-cell>
      <clr-dg-cell>{{policy.metadata?.creationTimestamp | date}}</clr-dg-cell>
      <clr-dg-cell>
        {{policy.spec.inspector?.imagePullPolicy}}      </clr-dg-cell>
      <clr-dg-cell>
        <div class="icon-button">
          <cds-icon shape="note" *ngIf="noteIconFlag" (click)="modifyPolicy()"></cds-icon>
          <cds-icon shape="trash" (click)="deleteModalHandler(policy.metadata?.name)"></cds-icon>

        </div>
      </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Settings per page</clr-dg-page-size>
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>

<div class="modal" *ngIf="deleteModal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header">
              <button aria-label="Close" (click)="deleteModal = false" class="close" type="button">
                  <cds-icon aria-hidden="true" shape="close"></cds-icon>
              </button>
              <h3 class="modal-title">{{'CommonlyUse.delete' | translate}}</h3>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this configuration？              </div>
          <div class="modal-footer">
              <button class="btn btn-outline" (click)="deleteModal = false" type="button">Cancel</button>
              <button class="btn btn-primary" (click)="deletePolicy()" type="button">Submit</button>
          </div>

          <div class="alert alert-info" role="alert" *ngIf="messageFlag">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
                    </div>
                    <span class="alert-text">
                      {{messageContent}}
                    </span>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close">
                <cds-icon aria-hidden="true" (click)="messageFlag = false" shape="close"></cds-icon>
            </button>
        </div>
      </div>
  </div>
</div>

<div *ngIf="deleteModal" class="modal-backdrop" aria-hidden="true"></div>
