<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="card detail-bg">
  <div id="resize"></div>

  <clr-accordion clrAccordionMultiPanel="true" >
    <clr-accordion-panel >
      <clr-accordion-title>{{'Report_Detail.title'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <ul class="list warp-1">
          <li>
            <b>UID: </b>
            <span>{{shardService.currentReport?._source.reportUID}}</span>
          </li>
          <li>
            <b>Name: </b>
            <span>{{shardService.currentReport?._source.docId}}</span>
          </li>
          <li>
            <b>Namespace: </b>
            <span>{{shardService.currentReport?._source.workloadNamespace}}</span>
          </li>
          <li>
            <b>Created Time: </b>
            <span>{{shardService.currentReport?._source.createTime}}</span>
          </li>
        </ul>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel [clrAccordionPanelOpen]='true'>
      <clr-accordion-title>{{'Workload.list'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <clr-datagrid style="height:  200px; overflow:  auto;">
          <clr-dg-column >Uid</clr-dg-column>
          <clr-dg-column [clrDgField]="'container.name'">
            Name
          </clr-dg-column>
          <clr-dg-column >Namespace</clr-dg-column>
          <clr-dg-column >Kind</clr-dg-column>
          <clr-dg-column >Passed</clr-dg-column>
          <clr-dg-column  *ngIf="showTrustedColumn">{{'Kube_bench_list.trusted'|translate}}</clr-dg-column>

          <clr-dg-row *clrDgItems="let wd of shardService.currentReport?.workloadAssessments" [clrDgItem]="wd">
            <clr-dg-cell>
              <span *ngIf="wd.workload.metadata.kind === 'Pod'">{{wd.workload.pods[0].metadata.uid}}</span>
              <span *ngIf="wd.workload.metadata.kind !== 'Pod'">{{wd.workload.metadata.uid}}</span>
            </clr-dg-cell>
            <clr-dg-cell>
              <a href="javascript:;" (click)="showDetail(wd)">
                {{wd.workload.metadata.name}}
              </a>  
            </clr-dg-cell>
            <clr-dg-cell>
              <span *ngIf="wd.workload.metadata.kind === 'Pod'">{{wd.workload.pods[0].metadata.namespace}}</span>
              <span *ngIf="wd.workload.metadata.kind !== 'Pod'">{{wd.workload.metadata.namespace}}</span>
            </clr-dg-cell>
            <clr-dg-cell>{{wd.workload.metadata.kind}}</clr-dg-cell>
            <clr-dg-cell>{{wd.passed}}</clr-dg-cell>
            <clr-dg-cell *ngIf="showTrustedColumn">
              <cds-icon *ngIf="wd.trusted" style="color: hsl(93, 79%, 40%);" shape="check-circle" solid></cds-icon>
              <cds-icon *ngIf="!wd.trusted" style="color: hsl(9, 92%, 50%);"  shape="times"></cds-icon>
              {{wd.trusted}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination_wordloads [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">wordloads per page</clr-dg-page-size>
                {{pagination_wordloads.firstItem + 1}} - {{pagination_wordloads.lastItem + 1}}
                of {{pagination_wordloads.totalItems}} wordloads
            </clr-dg-pagination>
        </clr-dg-footer>
        </clr-datagrid>
      </clr-accordion-content>
    </clr-accordion-panel>
    <clr-accordion-panel [clrAccordionPanelOpen]='true' *ngIf="showDetailFlag && currentWordloadInfo">
      <clr-accordion-title>Pods</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <ul class="list">
          <li *ngFor="let pod of currentWordloadInfo?.workload.pods">
            <span>
              <b>Pod Name</b>: {{pod.metadata.name}}
            </span>
            <br>
            <span>
              <b>Pod Namespace</b>: {{pod.metadata.namespace}}
            </span>
            <h4>Containers</h4>
            <clr-datagrid style="height:  200px; overflow:  auto;">
              <clr-dg-column [clrDgField]="'container.name'">Name</clr-dg-column>
              <clr-dg-column >Image</clr-dg-column>
              <clr-dg-column >{{'Report_Detail.isInit'|translate}}</clr-dg-column>
              <clr-dg-column *ngIf="showTrustedColumn">{{'Kube_bench_list.trusted'|translate}}</clr-dg-column>
              <clr-dg-column *ngIf="showTrustedColumn">{{'CommonlyUse.status'|translate}}</clr-dg-column>
    
              <clr-dg-row *clrDgItems="let cn of pod.containers" [clrDgItem]="cn">
                <clr-dg-cell>
                  <a href="javascript:;" *ngIf="cn.vacAssessment && cn.vacAssessment.trusted" (click)="showContainerVAC(cn)">{{cn.name}}</a>
                  <span *ngIf="!cn.vacAssessment || !cn.vacAssessment.trusted" (click)="showContainerVAC(cn)">{{cn.name}}</span>
                </clr-dg-cell>
                <clr-dg-cell>
                  {{cn.image}}
                </clr-dg-cell>
                <clr-dg-cell>{{cn.isInit}}</clr-dg-cell>
                <clr-dg-cell *ngIf="showTrustedColumn">
                  <span>
                    <cds-icon *ngIf="cn.vacAssessment?.trusted" style="color: hsl(93, 79%, 40%);" shape="check-circle" solid></cds-icon>
                    <cds-icon *ngIf="!cn.vacAssessment?.trusted" style="color: hsl(9, 92%, 50%);"  shape="times"></cds-icon>
                    {{cn.vacAssessment?.trusted}}  
                  </span>
                </clr-dg-cell>

                <clr-dg-cell *ngIf="showTrustedColumn">
                  <cds-icon *ngIf="cn.vacAssessment.status==='ACTIVE'" style="color: hsl(93, 79%, 40%);" shape="check-circle" solid></cds-icon>
                  <cds-icon *ngIf="cn.vacAssessment.status==='DEPRECATED' || cn.vacAssessment.status==='NON_SUPPORTED'" style="color: hsl(9, 92%, 50%);"  shape="times"></cds-icon>
                  <cds-icon *ngIf="cn.vacAssessment.status==='SCHEDULED_DEPRECATION' || cn.vacAssessment.status==='DEPRECATION_GRACE_PERIOD'" style="color: #F28B02;"  shape="exclamation-triangle" solid></cds-icon>
                  <span [class]="{active: cn.vacAssessment.status==='ACTIVE', 
                    deprecated: cn.vacAssessment.status==='DEPRECATED' || cn.vacAssessment.status==='NON_SUPPORTED',
                    scheduled: cn.vacAssessment.status==='SCHEDULED_DEPRECATION' || cn.vacAssessment.status==='DEPRECATION_GRACE_PERIOD'
                    }">{{cn.vacAssessment.status}}</span>
                </clr-dg-cell>

              </clr-dg-row>
              <clr-dg-footer>
                <clr-dg-pagination #pagination_containers [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">containers per page</clr-dg-page-size>
                    {{pagination_containers.firstItem + 1}} - {{pagination_containers.lastItem + 1}}
                    of {{pagination_containers.totalItems}} containers
                </clr-dg-pagination>
            </clr-dg-footer>
            </clr-datagrid>
            <div class="vac-container"  *ngIf="currentContainer && currentContainer.vacAssessment.trusted">
              <h4> VMware Application Catalog Summary</h4>
              <div class="card">
                <ul class="list">
                  <li>
                    <b>Trusted:</b>  <span>
                      <cds-icon *ngIf="currentContainer.vacAssessment.trusted" style="color: hsl(93, 79%, 40%);" shape="check-circle" solid></cds-icon>
                      <cds-icon *ngIf="!currentContainer.vacAssessment.trusted" style="color: hsl(9, 92%, 50%);"  shape="times"></cds-icon>
                      {{currentContainer.vacAssessment.trusted}}
                    </span>
                  </li>
                  <li>
                    <b>Name: </b> <span>{{currentContainer.vacAssessment.name}}</span>
                  </li>
                  <li>
                    <b>Branch: </b> <span>{{currentContainer.vacAssessment.branch}}</span>
                  </li>
                  <li>
                    <b>Version: </b> <span>{{currentContainer.vacAssessment.version}}</span>
                  </li>
                  <li>
                    <b>Revision:</b> <span>{{currentContainer.vacAssessment.revision}}</span>
                  </li>
                  <li>
                    <b>Release Time:</b> <span>{{currentContainer.vacAssessment.releasedAt  | date: 'medium'}}</span>
                  </li>
                  <li>
                    <b>Last Version Released:</b> <span>{{currentContainer.vacAssessment.lastVersionReleased}}</span>
                  </li>
                  <li>
                    <b>Status:</b>  <span [class]="{active: currentContainer.vacAssessment.status==='ACTIVE', 
                    deprecated: currentContainer.vacAssessment.status==='DEPRECATED' || currentContainer.vacAssessment.status==='NON_SUPPORTED',
                    scheduled: currentContainer.vacAssessment.status==='SCHEDULED_DEPRECATION' || currentContainer.vacAssessment.status==='DEPRECATION_GRACE_PERIOD'
                    }">{{currentContainer.vacAssessment.status}}</span>
                  </li>
                  <li *ngIf="currentContainer.vacAssessment.newerBranchesAvailable">
                    <b>Newer available branches:</b>
                    <label class="label" *ngFor="let item of currentContainer.vacAssessment.newerBranchesAvailable">{{item}}</label>
                  </li>
                </ul>

                <div class="vac-policy">

                  <div class="card" *ngIf="currentContainer.vacAssessment.deprecationPolicy">
                      <h3 class="card-header">Deprecation Policy</h3>
                      <div class="card-block" >
                          <div class="card-text">
                            <ul class="list">
                              <li>
                                <b>Deprecation Date: </b><span>{{currentContainer.vacAssessment.deprecationPolicy.deprecation_date | date}}</span>
                              </li>
                              <li>
                                <b>Grace Period Days: </b><span>{{currentContainer.vacAssessment.deprecationPolicy.gracePeriodDays}}</span>
                              </li>
                              <li>
                                <b>Reason: </b><span>{{currentContainer.vacAssessment.deprecationPolicy.reason}}</span>
                              </li>
                              <li>
                                <b>Alternative: </b><span>{{currentContainer.vacAssessment.deprecationPolicy.alternative}}</span>
                              </li>
                            </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card"  *ngIf="currentContainer.vacAssessment.nonSupportPolicy">
                      <h3 class="card-header">Nonsupport Policy</h3>
                      <div class="card-block">
                          <div class="card-text">
                            <ul class="list">
                              <li>
                                <b>Name: </b><span>{{currentContainer.vacAssessment.nonSupportPolicy.name }}</span>
                              </li>
                              <li>
                                <b>Reason: </b><span>{{currentContainer.vacAssessment.nonSupportPolicy.reason}}</span>
                              </li>
                            </ul>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </clr-accordion-content>
    </clr-accordion-panel>


    <clr-accordion-panel [clrAccordionPanelOpen]='true' *ngIf="showDetailFlag && currentWordloadInfo && !currentWordloadInfo.passed">
      <clr-accordion-title>{{'Report_Detail.failures'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <clr-datagrid style="height:  200px; overflow:  auto;">
          <clr-dg-column [clrDgField]="'container.name'">Name</clr-dg-column>
          <clr-dg-column >Image</clr-dg-column>
          <clr-dg-column >{{'Report_Detail.isInit'|translate}}</clr-dg-column>
          <clr-dg-column >Cause</clr-dg-column>
          <clr-dg-column >Error</clr-dg-column>

          <clr-dg-row *clrDgItems="let failure of currentWordloadInfo?.failures" [clrDgItem]="failure">
            <clr-dg-cell>
              {{failure.container.name}}
            </clr-dg-cell>
            <clr-dg-cell>{{failure.container.image}}</clr-dg-cell>
            <clr-dg-cell>{{failure.container.isInit}}</clr-dg-cell>
            <clr-dg-cell>{{failure.assessmentError.cause}}</clr-dg-cell>
            <clr-dg-cell>{{failure.assessmentError.error}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-placeholder *ngIf="false"></clr-dg-placeholder>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">failures per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} failures
            </clr-dg-pagination>
        </clr-dg-footer>
        </clr-datagrid>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>
