<div class="report">
  <h2>{{'Nav.Assessments.trivy'|translate}}</h2>
  <!-- <div class="echarts-loading" *ngIf="echartsLoading">
    <span class="spinner spinner-lg">
      Loading...
    </span>
  </div>
  <div id="trivy" style="flex:1;height:450px; overflow: hidden;"> </div> -->

  <clr-datagrid style="max-height: 400px; overflow: auto;"  [clrDgLoading]="dgLoading" (clrDgRefresh)="pageChange($event)">
    <clr-dg-column >{{'CommonlyUse.name'|translate}}</clr-dg-column>
    <clr-dg-column >{{'Trivy_view.type'|translate}}</clr-dg-column>
    <clr-dg-column >{{'Trivy_view.os'|translate}}</clr-dg-column>
    <clr-dg-column >{{'Trivy_view.image'|translate}}</clr-dg-column>
    <clr-dg-column >{{'Trivy_view.result'|translate}}</clr-dg-column>
  
    <clr-dg-row *clrDgItems="let trivy of trivyList">
      <clr-dg-cell *ngIf="trivy" >
        {{trivy.ArtifactName}}

      </clr-dg-cell>
      <clr-dg-cell *ngIf="trivy" >{{trivy.ArtifactType}}</clr-dg-cell>
      <clr-dg-cell *ngIf="trivy" >{{trivy.Metadata.OS.Family}} {{trivy.Metadata.OS.Name}}</clr-dg-cell>
      <clr-dg-cell *ngIf="trivy" >{{trivy.Metadata.ImageID}}</clr-dg-cell>
      <clr-dg-cell *ngIf="trivy.Results" >
        <a style="cursor: pointer;" (click)="showResults(trivy)" href="javascript:;">
          <cds-icon shape="view-list" style="color: skyblue"></cds-icon>
          {{trivy.Results.length}}
        </a>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="!trivy.Results" >
        0
      </clr-dg-cell>
    </clr-dg-row>
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgLastPage]="pageMaxCount">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Reports per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} reports
      </clr-dg-pagination>
  </clr-dg-footer>
  
  </clr-datagrid>

  <div class="results" *ngIf="resultData.length>0">
    <h3>{{resultName}} {{'Trivy_view.results_list' | translate}}</h3>
    <clr-datagrid>
      <clr-dg-column >{{'Trivy_view.target'|translate}}</clr-dg-column>
      <clr-dg-column >{{'Trivy_view.class'|translate}}</clr-dg-column>
      <clr-dg-column >{{'Trivy_view.type'|translate}}</clr-dg-column>
      <clr-dg-column >{{'Trivy_view.misconfiguration_successes'|translate}}</clr-dg-column>
      <clr-dg-column >{{'Trivy_view.misconfiguration_failures'|translate}}</clr-dg-column>
      <clr-dg-column >{{'Trivy_view.misconfiguration_exceptions'|translate}}</clr-dg-column>
    
      <clr-dg-row *clrDgItems="let result of resultData">
        <clr-dg-cell >
          {{result.Target}}
        </clr-dg-cell>
        <clr-dg-cell >{{result.Class}}</clr-dg-cell>
        <clr-dg-cell >{{result.Type}}</clr-dg-cell>
        <clr-dg-cell >
          <span style="color: hsl(93, 77%, 44%)">
            {{result.MisconfSummary?.Successes || 0}}
          </span>
        </clr-dg-cell>
        <clr-dg-cell >
          <span style="color: hsl(9, 92%, 50%); cursor: pointer;" (click)="showDetail(result)">
            <cds-icon shape="details"></cds-icon>
            {{result.MisconfSummary?.Failures || 0}}
          </span>
        </clr-dg-cell>
        <clr-dg-cell >
          <span style="color: hsl(198, 80%, 46%)">
            {{result.MisconfSummary?.Exceptions || 0}}
          </span>
        </clr-dg-cell>
      </clr-dg-row>
    
      <clr-dg-footer>
        <clr-dg-pagination #resultsPagination [clrDgPageSize]="10" [clrDgLastPage]="pageMaxCount">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Results per page</clr-dg-page-size>
            {{resultsPagination.firstItem + 1}} - {{resultsPagination.lastItem + 1}}
            of {{resultsPagination.totalItems}} reports
        </clr-dg-pagination>
    </clr-dg-footer>
    
    </clr-datagrid>
  </div>

  <!-- detail -->
  <div id="trivy-box" class="report-detai-bg" (click)='hideDetai($event)' [hidden]="!showDetailFlag">
    <div id="trivy-left" class="report-detai-left"></div>
    <div id="trivy-resize"></div>
    <div id="trivy-right" class="report-detai" [ngClass]="{'show': showDetailFlag}" >
      <app-trivy-view-detail #trivyDetail [detailInfo]="currentDetail"></app-trivy-view-detail>
    </div>
  </div>
</div>