<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="cluster-page">
  <clr-tabs >
    <clr-tab>
        <button clrTabLink >{{'CommonlyUse.summary'|translate}}</button>
        <ng-template [(clrIfActive)]="summaryFlag">
          <clr-tab-content >
              <app-cluster></app-cluster>
              <div class="report">
               <div class="scan-time">
                 <span>
                  {{'CommonlyUse.time_stamp'|translate}}: 
                 </span>
                 <span>
                   <b>
                     {{shardService.scanTime | date:'medium'}}
                   </b>
                 </span>
               </div>
              <div class="data">
                <a class="card clickable">
                  <div class="card-block normal">
                    <cds-icon style="width: 25px; height: 25px;" shape="check-circle" class="is-solid"></cds-icon>
                    <div class="pre">
                      <div class="pro" [style]="{width: shardService.allNormal/(shardService.allAbnormal + shardService.allNormal)*100 + 'px'}"></div>
                    </div>
                    <span *ngIf="shardService.allNormal">{{(shardService.allNormal/(shardService.allAbnormal + shardService.allNormal)*100).toFixed(2)}}%</span>
                    <span *ngIf="!shardService.allNormal">0%</span>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{shardService.allNormal}}
                    </p>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{'CommonlyUse.normal_baseline'|translate}}                    </p>
                  </div>
                </a>
                <a class="card clickable">
                  <div class="card-block abnormal">
                    <cds-icon style="width: 25px; height: 25px;" shape="exclamation-circle" class="is-solid"></cds-icon>
                      <div class="pre">
                        <div class="pro" [style]="{width: shardService.allAbnormal/(shardService.allAbnormal + shardService.allNormal)*100 + 'px'}"></div>
                      </div>
                      <span *ngIf="shardService.allAbnormal">{{(shardService.allAbnormal/(shardService.allAbnormal + shardService.allNormal)*100).toFixed(2)}}%</span>
                      <span *ngIf="!shardService.allAbnormal">0%</span>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{shardService.allAbnormal}}
                    </p>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{'CommonlyUse.abnormal_baseline'|translate}} 
                  </div>
                </a>
                <a class="card clickable">
                  <div class="card-block">
                    <img src="assets/images/sum.png" width="20px" alt="">
                    {{'CommonlyUse.total'|translate}} :
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{shardService.allAbnormal + shardService.allNormal}}
                    </p>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      {{'CommonlyUse.all_baseline'|translate}}
                  </div>
                </a>
              </div>
              <app-packedbubble #packedbubble></app-packedbubble> 
              </div>
              <app-cluster-line #reportline2 [chartOptions]="shardService.clusterLineChartOption" [updateFlag]='true'></app-cluster-line>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'CommonlyUse.violations'|translate}}</button>
        <ng-template [(clrIfActive)]="violationsFlag">
            <clr-tab-content>
              <app-histogram #histogram [chartOptions]="shardService.namespacChartLineOption"></app-histogram>
              <clr-datagrid>
                <clr-dg-column [clrDgField]="'workload.workload.metadata.name'">{{'CommonlyUse.name'|translate}}</clr-dg-column>
                <clr-dg-column [clrDgField]="'namespace'">{{'CommonlyUse.namespace'|translate}}</clr-dg-column>
                <clr-dg-column [clrDgField]="'workload.workload.metadata.kind'">{{'CommonlyUse.type'|translate}}</clr-dg-column>
                <clr-dg-column [clrDgField]="'workload.workload.pods.length'">{{'CommonlyUse.containers_total'|translate}}  </clr-dg-column>
                <!-- <clr-dg-column [clrDgSortBy]="'workload.workload.metadata.apiVersion'">{{'CommonlyUse.api_version'|translate}}</clr-dg-column> -->
              
                <clr-dg-row *clrDgItems="let violation of shardService.violationList">
                  <clr-dg-cell>
                    <a href="javascript:;" (click)="toWorkload(violation)" >
                      {{violation.workload.workload.metadata.name}}
                      <cds-icon shape="pop-out"></cds-icon>
                    </a>
                  </clr-dg-cell>
                  <clr-dg-cell>{{violation.namespace}}</clr-dg-cell>
                  <clr-dg-cell>{{violation.workload.workload.metadata.kind}}</clr-dg-cell>
                  <clr-dg-cell>{{violation.workload.workload.pods.length}}</clr-dg-cell>
                  <!-- <clr-dg-cell>{{violation.workload.workload.metadata.apiVersion}}</clr-dg-cell> -->
                </clr-dg-row>
              
                <clr-dg-footer>
                  <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Workloads per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                      of {{pagination.totalItems}} workloads
                  </clr-dg-pagination>
              </clr-dg-footer>
              </clr-datagrid>
            </clr-tab-content>
        </ng-template> 
    </clr-tab>
  
  </clr-tabs>
</div>
