.report {
  position: relative;
  padding: 15px;
}
.report h2 {
  color: #fff;
}
.report .report-detai-bg {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  background-color: rgba(28, 42, 50, 0);
  width: 100%;
  height: 100%;
}
.report .report-detai-bg .report-detai {
  position: absolute;
  right: -700px;
  top: 0;
  width: 1200px;
  height: auto;
  min-height: 100vh;
  opacity: 0;
  transition: right 5s, opacity 2s;
}
.report .report-detai-bg .report-detai.show {
  right: 0;
  opacity: 1;
  transition: right 5s, opacity 2s;
}
.report .echarts-loading {
  position: relative;
  width: 1400px;
}
.report .echarts-loading .spinner {
  position: absolute;
  left: 50%;
  top: 150px;
}
.report #risk-box {
  flex: 1;
}
.report #risk-box #risk-resize {
  width: 5px;
  height: 100%;
  cursor: w-resize;
  float: left;
  position: relative;
  left: 0;
  background-color: #21333B;
}
.report #risk-box #risk-right {
  width: 445px;
  float: right;
}
.report #risk-box #risk-left {
  float: left;
  width: calc(100% - 450px);
  height: 100%;
}
