.report {
  position: relative;
  padding: 15px;
}
.report .kube-title h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.report .kube-title h4::ng-deep clr-select-container {
  margin-top: 0;
}
.report::ng-deep clr-datagrid clr-dg-column.namespace-filter .datagrid-column-flex .datagrid-column-title {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.report::ng-deep clr-datagrid clr-dg-column.namespace-filter .filter-warp {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0.24rem;
  background: #21333b;
  border-width: 0.05rem;
  border-style: solid;
  border-color: #000;
  padding: 0.9rem;
  padding-top: 2rem;
  box-shadow: 0 0.05rem 0.15rem rgba(140, 140, 140, 0.25);
  box-shadow: 0 0.05rem 0.15rem var(--clr-datagrid-popovers-box-shadow-color, rgba(140, 140, 140, 0.25));
  border-radius: 0.15rem;
  font-weight: 400;
}
.echarts-loading {
  position: relative;
  width: 1400px;
}
.echarts-loading .spinner {
  position: absolute;
  left: 50%;
  top: 150px;
}
.chart-warp {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  height: 300px;
  padding-bottom: 20px;
  box-sizing: content-box;
  position: relative;
}
.chart-warp .circle {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.chart-warp .circle span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
  cursor: pointer;
}
.chart-warp .circle span.active {
  background-color: #fff;
}
.chart-label {
  height: 60px;
  text-align: center;
  color: #fff;
}
.chart-label span {
  font-size: 16px;
  margin-right: 10px;
}
.chart-label span:first-of-type i {
  background-color: #5470C6;
}
.chart-label span:nth-of-type(2) i {
  background-color: #91CB74;
}
.chart-label span:nth-of-type(3) i {
  background-color: #FAC858;
}
.chart-label span:nth-of-type(4) i {
  background-color: #e66;
}
.chart-label span i {
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 4px;
  position: relative;
  top: 2px;
}
clr-datagrid::ng-deep .sort {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
clr-datagrid::ng-deep .sort cds-icon.oder {
  transform: rotate(180deg);
}
