<div class="report">
  <h2>{{'Nav.Assessments.Kube_bench'| translate}}</h2>
  <div class="kube-title">
    <h4>
      <span>{{'Kube_bench_list.current_node'| translate}}</span>
      <select class="select" clrSelect name="options" (ngModelChange)="switchNode($event)" [(ngModel)]="currentNode">
        <option *ngFor="let node of nodeList" [value]="node.name">{{node.name}}</option>
      </select>
    </h4>
  </div>
  <div class="echarts-loading" *ngIf="echartsLoading">
    <span class="spinner spinner-lg">
      Loading...
    </span>
  </div>
  <div class="chart-warp">
    <div [hidden]="!workechartsOption" id="work-node" style=" width: 300px; height: 330px; display: flex; justify-content: center;"></div>
    <div [hidden]="!k8sechartsOption" id="k8s-policy" style=" width: 300px; height: 330px; display: flex; justify-content: center;"></div>
    <div [hidden]="!controlPlaneSecurityChartOption" id="control-plane-security" style=" width: 300px; height: 330px; display: flex; justify-content: center;"></div>
    <div [hidden]="!controlPlaneChartOption" id="control-plane" style=" width: 300px; height: 330px; display: flex; justify-content: center;"></div>
    <div [hidden]="!etcdNodeChartOption" id="etcd-node" style=" width: 300px; height: 330px; display: flex; justify-content: center;"></div>
  </div>
  <div class="chart-label">
    <span>
      <i></i>
      Inform
    </span>
    <span>
      <i></i>
      Passed
    </span>
    <span>
      <i></i>
      Warned
    </span>
    <span>
      <i></i>
      Failed
    </span>
  </div>

  <clr-datagrid [clrDgLoading]="dgLoading" (clrDgRefresh)="pageChange($event)">
    <clr-dg-column >{{'CommonlyUse.typeId'|translate}}</clr-dg-column>
    <clr-dg-column >{{'CommonlyUse.name'|translate}}</clr-dg-column>
    <clr-dg-column class="namespace-filter">
      {{'CommonlyUse.type'|translate}}
      <cds-icon shape="filter-grid" class="is-solid" (click)="kubeTypeFilterFlag = !kubeTypeFilterFlag"></cds-icon>
      <div class="filter-warp" *ngIf="kubeTypeFilterFlag">
        <cds-icon style="position: absolute; right: 10px; top: 10px;" shape="window-close" (click)="kubeTypeFilterFlag=false"></cds-icon>
        <app-dg-filter label="kube" labelKey="text" [pageSize]="10" (updateListHandler)="getKubeBenchReportList($event)">
        </app-dg-filter>
      </div>
    </clr-dg-column>
    <!-- <clr-dg-column class="namespace-filter">
      {{'Kube_bench_list.node_name'|translate}}     
     <cds-icon shape="filter-grid" class="is-solid" (click)="kubeNodeTypeFilterFlag = !kubeNodeTypeFilterFlag"></cds-icon>
      <div class="filter-warp" *ngIf="kubeNodeTypeFilterFlag">
        <cds-icon style="position: absolute; right: 10px; top: 10px;" shape="window-close" (click)="kubeNodeTypeFilterFlag=false"></cds-icon>
        <app-dg-filter label="kube" labelKey="node_type" [pageSize]="defaultSize" (updateListHandler)="getKubeBenchReportList($event)">
        </app-dg-filter>
      </div>
    </clr-dg-column> -->
    <clr-dg-column >
      <div class="sort">
        {{'CommonlyUse.create_time'|translate}}
        <cds-icon (click)="createTimeSort()" shape="arrow" [class]="{oder: isOder}"></cds-icon>  
      </div>
    </clr-dg-column>
    <clr-dg-column [clrDgSortBy]="'_source.total_pass'">{{'Kube_bench_list.passed'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgSortBy]="'_source.total_fail'"> {{'Kube_bench_list.failed'|translate}} </clr-dg-column>
    <clr-dg-column [clrDgSortBy]="'_source.total_warn'">{{'Kube_bench_list.warned'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgSortBy]="'_source.total_info'">{{'Kube_bench_list.inform'|translate}}</clr-dg-column>
  
    <clr-dg-row *clrDgItems="let kube of kubeBenchReportList">
      <clr-dg-cell *ngIf="kube">{{kube._source.id}}</clr-dg-cell>
      <clr-dg-cell *ngIf="kube">
        <a href="javascript:;" (click)="toKubeBenchReportTests(kube)" >
          <cds-icon shape="pop-out"></cds-icon>
          {{kube._id}}
        </a>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="kube">{{kube._source.text}}</clr-dg-cell>
      <!-- <clr-dg-cell *ngIf="kube">{{kube._source.node_name}}</clr-dg-cell> -->
      <clr-dg-cell *ngIf="kube">{{kube._source.createTime | date: 'medium'}}</clr-dg-cell>
      <clr-dg-cell *ngIf="kube">
        <a href="javascript:;" class="label clickable" style="border-color: #266900;">
          {{'Kube_bench_list.passed'|translate}}
          
          <span class="badge" style="background-color: #266900; color: #fff;">
            {{kube._source.total_pass}}
          </span>
        </a>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="kube">
        <a href="javascript:;" class="label clickable" style="border-color: #A32100;">
          {{'Kube_bench_list.failed'|translate}}
          
          <span class="badge" style="background-color: #A32100; color: #fff;">
            {{kube._source.total_fail}}
          </span>
        </a>

      </clr-dg-cell>
      <clr-dg-cell *ngIf="kube">
        <a href="javascript:;" class="label clickable" style="border-color: #EFD603;">
          {{'Kube_bench_list.warned'|translate}}
          
          <span class="badge" style="background-color: #EFD603; color: #313131;">
            {{kube._source.total_warn}}
          </span>
        </a>

      </clr-dg-cell>
      <clr-dg-cell *ngIf="kube">
        <a href="javascript:;" class="label clickable" style="border-color: #49AFd9;">
          {{'Kube_bench_list.inform'|translate}}
          
          <span class="badge" style="background-color: #49AFd9; color: #fff;">
            {{kube._source.total_info}}
          </span>
        </a>

      </clr-dg-cell>
    </clr-dg-row>
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="defaultSize" [clrDgLastPage]="pageMaxCount">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Reports per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} reports
      </clr-dg-pagination>
  </clr-dg-footer>
  
  </clr-datagrid>
</div>