.detail-bg {
  height: 100vh;
  overflow: auto;
}
.datagrid::ng-deep .datagrid-column:first-of-type,
.datagrid::ng-deep .datagrid-cell:first-of-type {
  flex: none;
  overflow: hidden;
}
.datagrid::ng-deep .datagrid-column:nth-of-type(2),
.datagrid::ng-deep .datagrid-cell:nth-of-type(2) {
  flex: none;
  overflow: hidden;
}
.datagrid::ng-deep .datagrid-column:nth-of-type(3),
.datagrid::ng-deep .datagrid-cell:nth-of-type(3) {
  flex: none;
  overflow: hidden;
}
.datagrid::ng-deep .datagrid-column:nth-of-type(4),
.datagrid::ng-deep .datagrid-cell:nth-of-type(4) {
  flex: none;
  overflow: hidden;
}
.datagrid::ng-deep .datagrid-column:nth-of-type(5),
.datagrid::ng-deep .datagrid-cell:nth-of-type(5) {
  flex: none;
  overflow: hidden;
}
.datagrid::ng-deep .datagrid-column:nth-of-type(6),
.datagrid::ng-deep .datagrid-cell:nth-of-type(6) {
  margin-left: 0;
}
.report-datagrid::ng-deep .datagrid-column:nth-of-type(3),
.report-datagrid::ng-deep .datagrid-cell:nth-of-type(3) {
  flex: none;
}
.report-datagrid::ng-deep .datagrid-column:nth-of-type(4),
.report-datagrid::ng-deep .datagrid-cell:nth-of-type(4) {
  margin-left: 0;
}
.echarts-loading {
  position: relative;
  width: 1400px;
}
.echarts-loading .spinner {
  position: absolute;
  left: 40%;
  top: 200px;
}
