<div class="policy-page">
  <div class="sddc-header">
    <h2 class="sddc-title">
      <a href="javascript:;" [routerLink]='["/policy"]'>
        <cds-icon shape="angle" class="angle-top"></cds-icon>
      </a>
      {{'Policy.title'|translate}}</h2>
  </div>
  
  <form class="create-sddc-form" clrStepper [formGroup]="policyForm">
    <clr-stepper-panel formGroupName="inspectionSetting">
      <clr-step-title>{{'Setting.inspectionSetting'|translate}}</clr-step-title>
      <clr-step-description>{{'Setting.inspectionDesc'|translate}}</clr-step-description>
      <clr-step-content *clrIfExpanded>
        <clr-input-container class="w-230">
          <label>{{'Policy.name'|translate}}: </label>
          <input data-cy="name" clrInput placeholder="" name="name" formControlName="name"/>
        </clr-input-container>
  
        <clr-input-container class="w-230">
          <label>{{'CommonlyUse.inspectionNamespace'|translate}}: </label>
          <input data-cy="namespace" clrInput placeholder="" name="namespace" formControlName="namespace"/>
        </clr-input-container>
  
        <div class="schedule">
          <h4>{{'Policy.schedule'|translate}}:</h4>
          <div>
            <span>{{schedule}}</span>
            <button (click)="isCornUpdateModal=true" type="button" class="btn btn-icon btn-primary" aria-label="home">
              <cds-icon class="pencil" shape="pencil"></cds-icon>
          </button>
          </div>
        </div>
        <!-- <clr-input-container class="w-230">
          <label>{{'Policy.historyLimit'|translate}}:  </label>
          <input clrInput placeholder="" name="historyLimit" formControlName="historyLimit"/>
        </clr-input-container> -->
  
        <!-- <clr-toggle-container class="clr-inline">
          <label class="w-200">{{'Policy.suspend'|translate}}:</label>
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle name="enabled" formControlName="suspend" />
          </clr-toggle-wrapper>
        </clr-toggle-container> -->
  
        <!-- <clr-select-container class="w-230">
          <label class="w-200">{{'Policy.concurrencyRule'|translate}}</label>
          <select clrSelect name="concurrencyRule" formControlName="concurrencyRule">
            <option value="Allow">Allow</option>
            <option value="Forbid">Forbid</option>
          </select>
        </clr-select-container> -->
        <clr-combobox-container class="combobox">
          <label>{{'CommonlyUse.scanInspector'|translate}}:</label>
          <clr-combobox data-cy="image" formControlName="image" name="image" clrMulti="true" required>
            <ng-container *clrOptionSelected="let selected">
              <cds-icon shape="network-globe"></cds-icon> {{selected}}
            </ng-container>
            <clr-options>
              <clr-option *clrOptionItems="let image of imageList;" [clrValue]="image.name">
                  {{image.name}}
                <div style="display: flex; position: relative;">
                  <cds-icon style="position: absolute; left: -20px; top: 5px;" shape="network-globe"></cds-icon>
                  <span>{{image.url}}</span>  
                </div>
              </clr-option>
            </clr-options>
          </clr-combobox>
        </clr-combobox-container>

        <clr-select-container class="w-230">
          <label class="w-200">{{'Policy.imagePullPolicy'|translate}}</label>
          <select data-cy="imagePullPolicy" clrSelect name="imagePullPolicy" formControlName="imagePullPolicy">
            <option value="IfNotPresent">IfNotPresent</option>
            <option value="Always">Always</option>
            <option value="Never">Never</option>
          </select>
        </clr-select-container>
  
        
        <clr-select-container class="w-230">
          <label class="w-200">{{'Policy.settingsName'|translate}}</label>
          <select data-cy="settingsName" clrSelect name="settingsName" formControlName="settingsName">
            <option></option>
            <option *ngFor="let item of settingList" [value]="item.metadata.name">{{item.metadata.name}}</option>
          </select>
        </clr-select-container>

        <!-- openSearchEnabled -->
        <clr-toggle-container class="clr-inline">
          <label class="w-200">{{'Policy.openSearchEnabled'|translate}}:</label>
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle name="openSearchEnabled" formControlName="openSearchEnabled" />
          </clr-toggle-wrapper>
        </clr-toggle-container>
        <div *ngIf="policyForm.get('inspectionSetting')?.get('openSearchEnabled')?.value">
          <div class="endpoint-container">
            <label>{{'Policy.elasticSearchAddr' |translate}}: </label>
            <select clrSelect name="openSearchAddrHeader" formControlName="openSearchAddrHeader">
              <option value="http://">http</option>
              <option value="https://">https</option>
            </select>
            <input clrInput placeholder="" name="openSearchAddr" formControlName="openSearchAddr"/>
          </div>
  
          <clr-input-container class="w-230">
            <label>{{'Policy.elasticSearchUser'|translate}}:  </label>
            <input clrInput placeholder="" name="openSearchUser" formControlName="openSearchUser"/>
          </clr-input-container>
  
          <div class="passwd-test">
            <clr-password-container class="w-230-psd">
              <label>{{'Policy.elasticSearchPasswd'|translate}}:</label>
              <input clrPassword placeholder="Password please!" name="openSearchPasswd" formControlName="openSearchPasswd" />
            </clr-password-container>
    
              
            <!-- <div class="test-icon">
              <button class="btn btn-info btn-sm" (click)="testElasticSearch()">
                {{'CommonlyUse.test'| translate}}
              </button>
              <span  *ngIf="checkES === 'passed'">
                <cds-icon class="passed" shape="check-circle" ></cds-icon> Successful
              </span>
              <span  *ngIf="checkES === 'not passed'" class="not-passed" >
                <cds-icon  shape="times" class="not-passed"></cds-icon> Failed
              </span>
            </div> -->
          </div>

        </div>

         <!-- elasticSearchEnabled -->
        <clr-toggle-container class="clr-inline">
          <label class="w-200">{{'Policy.elasticSearchEnabled'|translate}}:</label>
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle name="elasticSearchEnabled" formControlName="elasticSearchEnabled" />
          </clr-toggle-wrapper>
        </clr-toggle-container>
        <div *ngIf="policyForm.get('inspectionSetting')?.get('elasticSearchEnabled')?.value">
          <div class="endpoint-container">
            <label>{{'Policy.elasticSearchAddr' |translate}}: </label>
            <select clrSelect name="elasticSearchAddrHeader" formControlName="elasticSearchAddrHeader">
              <option value="http://">http</option>
              <option value="https://">https</option>
            </select>
            <input clrInput placeholder="" name="elasticSearchAddr" formControlName="elasticSearchAddr"/>
          </div>
  
          <clr-input-container class="w-230">
            <label>{{'Policy.elasticSearchUser'|translate}}:  </label>
            <input clrInput placeholder="" name="elasticSearchUser" formControlName="elasticSearchUser"/>
          </clr-input-container>
  
          <div class="passwd-test">
            <clr-password-container class="w-230-psd">
              <label>{{'Policy.elasticSearchPasswd'|translate}}:</label>
              <input clrPassword placeholder="Password please!" name="elasticSearchPasswd" formControlName="elasticSearchPasswd" />
            </clr-password-container>

              
            <div class="test-icon">
              <button class="btn btn-info btn-sm" (click)="testElasticSearch()">
                {{'CommonlyUse.test'| translate}}
              </button>
              <span  *ngIf="checkES === 'passed'">
                <cds-icon class="passed" shape="check-circle" ></cds-icon> Successful
              </span>
              <span  *ngIf="checkES === 'not passed'" class="not-passed" >
                <cds-icon  shape="times" class="not-passed"></cds-icon> Failed
              </span>
            </div>
          </div>

          <clr-textarea-container>
            <label>{{'Policy.elasticSearchCert'|translate}}</label>
            <textarea style="width: 230px; height: 150px;" clrTextarea name="elasticSearchCert" formControlName="elasticSearchCert"></textarea>
          </clr-textarea-container>

        </div>

        <button clrStepButton="next" data-cy="next-one" [disabled]="inspectionSettingValid">next</button>
      </clr-step-content>
    </clr-stepper-panel>
  
    <clr-stepper-panel formGroupName="inspectionStandard">
      <clr-step-title>{{'Setting.InspectionStandard'|translate}}</clr-step-title>
      <clr-step-description>{{'Setting.InspectionStandardDesc'|translate}}</clr-step-description>
      <clr-step-content *clrIfExpanded>
        <div class="baselines">
          <h4>{{'Policy.baselines'|translate}}
            <cds-icon (click)="policySettingAddItem('baseline')" style="color:hsl(198, 80%, 46%)" shape="plus-circle" class="is-solid"></cds-icon>
          </h4>
          <ul class="list">
            <li *ngFor="let item of baselines, let i = index">
              <!-- <clr-input-container class="w-230">
                <label>{{'Policy.kind'|translate}}:   
                  <cds-icon (click)="policySettingremoveItem('baseline', i)" style="color: hsl(9, 100%, 43%);" *ngIf="i!==0" shape="minus-circle" class="is-solid"></cds-icon>
                </label>
                <input style="color: #999;" clrInput placeholder="" name="kind" disabled [(ngModel)]="item.kind" [ngModelOptions]="{standalone: true}" />
              </clr-input-container> -->
              <clr-select-container class="w-230" *ngIf="policyForm.get('inspectionResult')?.get('generate')?.value">
                <label class="w-200">
                  {{'Policy.baseline'|translate}}
                  <cds-icon (click)="policySettingremoveItem('baseline', i)" style="color: hsl(9, 100%, 43%);" *ngIf="i!==0" shape="minus-circle" class="is-solid"></cds-icon>
                </label>
                <select clrSelect name="baseline" [(ngModel)]="item.baseline" [ngModelOptions]="{standalone: true}">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                  <option value="Critical">Critical</option>
                </select>
              </clr-select-container>
  
              <!-- <clr-input-container class="w-230">
                <label>{{'CommonlyUse.version'|translate}}:   </label>
                <input clrInput placeholder="" name="version" [(ngModel)]="item.version" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container>
              <clr-input-container class="w-230">
                <label>{{'Policy.scheme'|translate}}:   </label>
                <input clrInput placeholder="" name="scheme" [(ngModel)]="item.scheme" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container> -->
            </li>
          </ul>
        </div>
  
        <div class="actions w-auto">
          <h4>{{'Policy.namespace'|translate}}
            <cds-icon data-cy="policySettingAddItem" (click)="policySettingAddItem('namespacelabels')" style="color:hsl(198, 80%, 46%)" shape="plus-circle" class="is-solid"></cds-icon>
          </h4>
          <ul class="list">
            <li *ngFor="let item of namespacelabels,let i = index;">
              <clr-input-container class="w-230">
                <label>{{'Policy.key'| translate}}:   
                  <cds-icon (click)="policySettingremoveItem('namespacelabels', i)" style="color: hsl(9, 100%, 43%);"shape="minus-circle" class="is-solid"></cds-icon>
                </label>
                <input data-cy="key" clrInput placeholder="" name="key" [(ngModel)]="item.key" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container>
              <clr-input-container class="w-230">
                <label>{{'Policy.value'| translate}}:   
                </label>
                <input data-cy="value" clrInput placeholder="" name="value" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container>
      
            </li>
          </ul>
        </div>
  
        <div class="actions w-auto">
          <h4>{{'Policy.workload'|translate}}
            <cds-icon (click)="policySettingAddItem('workloadlabels')" style="color:hsl(198, 80%, 46%)" shape="plus-circle" class="is-solid"></cds-icon>
          </h4>
          <ul class="list">
            <li *ngFor="let item of workloadlabels,let i = index;">
              <clr-input-container class="w-230">
                <label>{{'Policy.key'| translate}}:   
                  <cds-icon (click)="policySettingremoveItem('workloadlabels', i)" style="color: hsl(9, 100%, 43%);"shape="minus-circle" class="is-solid"></cds-icon>
                </label>
                <input clrInput placeholder="" name="liveTime" [(ngModel)]="item.key" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container>
              <clr-input-container class="w-230">
                <label>{{'Policy.value'| translate}}:   
                </label>
                <input clrInput placeholder="" name="liveTime" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
              </clr-input-container>
  
            </li>
          </ul>
        </div>
  
        <button clrStepButton="next" data-cy="next-two" [disabled]="inspectionStandardValid">Next</button>
      </clr-step-content>
    </clr-stepper-panel>
  
    <clr-stepper-panel formGroupName="inspectionResult">
      <clr-step-title>{{'Setting.InspectionResult'| translate}}</clr-step-title>
      <clr-step-description>{{'Setting.InspectionResultDesc'| translate}}</clr-step-description>
      <clr-step-content *clrIfExpanded>
        <h4>{{'Policy.setting'|translate}}</h4>
        <clr-toggle-container class="clr-inline">
          <label class="w-200">{{'Policy.generate'|translate}}:</label>
          <clr-toggle-wrapper>
            <input  type="checkbox" clrToggle name="generate" formControlName="generate" />
          </clr-toggle-wrapper>
        </clr-toggle-container>              
        
        <!-- <clr-select-container *ngIf="policyForm.get('inspectionResult')?.get('generate')?.value">
          <label class="w-200">{{'Policy.format'|translate}}</label>
          <select clrSelect name="format" formControlName="format">
            <option value="YAML">YAML</option>
            <option value="JSON">JSON</option>
          </select>
        </clr-select-container> -->
        
        <clr-input-container class="w-230" *ngIf="policyForm.get('inspectionResult')?.get('generate')?.value">
          <label>{{'Policy.live_time'|translate}}:   </label>
          <input clrInput placeholder="" name="liveTime" formControlName="liveTime"/>
        </clr-input-container>
  
        <!-- <clr-toggle-container *ngIf="policyForm.get('inspectionResult')?.get('generate')?.value" class="clr-inline">
          <label class="w-200">{{'Policy.managedBy'|translate}}:</label>
          <clr-toggle-wrapper>
            <input  type="checkbox" clrToggle name="managedBy" formControlName="managedBy" />
          </clr-toggle-wrapper>
        </clr-toggle-container>  -->
  
        <div class="actions" >
          <h4 class="action-title">
            <div>
              {{'Policy.actions'|translate}}
            </div>
            <clr-toggle-container class="clr-inline">
              <!-- <label class="w-200">{{'Policy.actions'|translate}}:</label> -->
              <clr-toggle-wrapper>
                <input  type="checkbox" clrToggle name="actions" formControlName="actions" />
              </clr-toggle-wrapper>
            </clr-toggle-container> 
            <!-- <cds-icon (click)="policySettingAddItem('action')" style="color:hsl(198, 80%, 46%)" shape="plus-circle" class="is-solid"></cds-icon> -->
          </h4>
          <ul class="list" style="list-style:none; margin-left: 0;" *ngIf="policyForm.get('inspectionResult')?.get('actions')?.value">
            <li *ngFor="let item of actions,let i = index;">
              <clr-input-container class="w-230">
                <label>{{'Policy.kind'|translate}}:   
                  <cds-icon (click)="policySettingremoveItem('action', i)" style="color: hsl(9, 100%, 43%);" *ngIf="i!==0" shape="minus-circle" class="is-solid"></cds-icon>
                </label>
                <input style="color: #999;" clrInput placeholder="" name="liveTime" [(ngModel)]="item.kind" [ngModelOptions]="{standalone: true}" disabled/>
              </clr-input-container>
  
            </li>
          </ul>
        </div>
        <div class="submit-btns">
          <button data-cy="created" clrStepButton class="btn btn-primary" [disabled]="inspectionResultValid" type="submit" (click)="policyHandler(text)">{{'CommonlyUse.'+text|translate}}</button>
        </div>
      </clr-step-content>
    </clr-stepper-panel>
  
    <div class="alert alert-danger" role="alert" *ngIf="messageFlag === 'fail'">
      <div class="alert-items">
          <div class="alert-item static">
            
              <div class="alert-icon-wrapper">
                  <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
              </div>
              <span class="alert-text">
                  {{messageContent}}
              </span>
              <button (click)="messageFlag =''" type="button" class="close" aria-label="Close">
                <cds-icon aria-hidden="true" shape="close"></cds-icon>
            </button>
          </div>
      </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="messageFlag === 'success'">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
            </div>
            <span class="alert-text">
              {{messageContent}}
            </span>
            <button type="button" (click)="messageFlag =''" class="close" aria-label="Close">
              <cds-icon aria-hidden="true" shape="close"></cds-icon>
          </button>
        </div>
    </div>
  </div>
  
  
  </form>
  <div [hidden]="!isCornUpdateModal" class="modal" style="width: 1000px; margin: 0 auto;">
    <div class="modal-dialog" role="dialog" aria-hidden="true" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <!-- <cds-icon aria-hidden="true" shape="close"></cds-icon> -->
                </button>
                <h3 class="modal-title">{{'Policy.schedule_settings'|translate}}
                </h3>
            </div>
            <div class="modal-body">
                <!-- <app-corn (setSchedule)='setSchedule($event)' #corn></app-corn> -->
                <app-corn-schedule  (saveSchedule)="saveSchedule($event)" (cancelSchedule)="cancelSchedule()"></app-corn-schedule>
            </div>
            <!-- <div class="modal-footer">
                <button class="btn btn-outline" (click)='isCornUpdateModal=false' type="button">Cancel</button>
                <button class="btn btn-primary" (click)='isCornUpdateModal=false' type="button">Ok</button>
            </div>assessments -->
        </div>
    </div>
  </div>
  <div *ngIf="isCornUpdateModal" class="modal-backdrop" aria-hidden="true"></div>
  
  </div>