/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */
.workload {
  height: auto;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}
.workload h2 {
  color: #fff;
}
.workload .report-detai-bg {
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 2s;
  width: 100%;
  height: 100%;
}
.workload .report-detai-bg.show {
  background-color: #000000;
  transition: background-color 2;
}
.workload .report-detai-bg .report-detai {
  height: auto;
  min-height: 100vh;
  opacity: 0;
  transition: right 5s, opacity 2s;
}
.workload .report-detai-bg .report-detai.show {
  opacity: 1;
  transition: right 5s, opacity 2s;
}
.workload::ng-deep clr-datagrid clr-dg-column .datagrid-column-flex button {
  color: #fff;
}
.workload::ng-deep clr-datagrid clr-dg-row clr-dg-cell {
  color: #fff;
}
.workload::ng-deep clr-datagrid clr-dg-footer clr-dg-page-size {
  color: #fff;
}
.workload::ng-deep clr-datagrid clr-dg-footer clr-dg-page-size .clr-select-wrapper select {
  color: #fff;
}
.workload::ng-deep clr-datagrid clr-dg-footer .pagination-description {
  color: #fff;
}
.workload #work-box {
  flex: 1;
}
.workload #work-box #work-resize {
  width: 5px;
  height: 100%;
  cursor: w-resize;
  float: left;
  position: relative;
  left: 0;
  background-color: #21333B;
}
.workload #work-box #work-right {
  width: 445px;
  float: right;
}
.workload #work-box #work-left {
  float: left;
  width: calc(100% - 450px);
  height: 100%;
}
