<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="namespace-page">
  <clr-tabs >
    <clr-tab>
        <button clrTabLink >{{'CommonlyUse.summary'|translate}}</button>
        <ng-template [(clrIfActive)]="summaryFlag">
          <clr-tab-content >
              <app-namespace (packedbubbleRender)='packedbubbleRender($event)'></app-namespace>
            <div class="report">
             <div class="scan-time">
               <span>
                {{'CommonlyUse.time_stamp'|translate}}: 
               </span>
               <span>
                 <b>
                   {{shardService.scanTime | date:'medium'}}
                 </b>
               </span>
             </div>
            <div class="data">
              <a class="card clickable">
                <div class="card-block normal">
                  <cds-icon style="width: 25px; height: 25px;" shape="check-circle" class="is-solid"></cds-icon>
                  <div class="pre">
                    <div class="pro" *ngIf="shardService.showAbnormal + shardService.showNormal !== 0" [style]="{width: shardService.showNormal/(shardService.showAbnormal + shardService.showNormal)*100 + 'px'}"></div>
                  </div>
                  <span *ngIf="shardService.showNormal">{{(shardService.showNormal/(shardService.showAbnormal + shardService.showNormal)*100).toFixed(2)}}%</span>
                  <span *ngIf="!shardService.showNormal">0%</span>
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{shardService.showNormal}}
                  </p>
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{'CommonlyUse.normal_baseline'|translate}}               </p>
                </div>
              </a>
              <a class="card clickable">
                <div class="card-block abnormal">
                  <cds-icon style="width: 25px; height: 25px;" shape="exclamation-circle" class="is-solid"></cds-icon>
                    <div class="pre">
                      <div class="pro" *ngIf="shardService.showAbnormal + shardService.showNormal !== 0" [style]="{width: shardService.showAbnormal/(shardService.showAbnormal + shardService.showNormal)*100 + 'px'}"></div>
                    </div>
                    <span *ngIf="shardService.showAbnormal">{{(shardService.showAbnormal/(shardService.showAbnormal + shardService.showNormal)*100).toFixed(2)}}%</span>
                    <span *ngIf="!shardService.showAbnormal">0%</span>
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{shardService.showAbnormal}}
                  </p>
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{'CommonlyUse.abnormal_baseline'|translate}}
                </div>
              </a>
              <a class="card clickable">
                <div class="card-block">
                  <img src="assets/images/sum.png" width="20px" alt="">
                  {{'CommonlyUse.total'|translate}} :
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{shardService.showAbnormal + shardService.showNormal}}
                  </p>
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{'CommonlyUse.all_baseline'|translate}}
                </div>
              </a>
            </div>
            <app-namesapce-polar #packedbubble></app-namesapce-polar> 
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'CommonlyUse.violations'|translate}}</button>
        <ng-template [(clrIfActive)]="violationsFlag">
            <clr-tab-content>
              <app-namespace (setNamespaceHistogramChart)="setNamespaceHistogramChart()" [all]='true' #summary></app-namespace>
              <!-- <app-histogram [chartOptions]="shardService.namespacChartLineOption"></app-histogram> -->
              <app-namesapce-histogram #namespaceHistogram [chartOptions]="shardService.workloadChartbarOption"></app-namesapce-histogram>
              <clr-datagrid>
                <clr-dg-column [clrDgField]="'workload.workload.metadata.name'">{{'CommonlyUse.name'|translate}}</clr-dg-column>
                <!-- <clr-dg-column [clrDgField]="'workload.workload.metadata.namespace'">{{'CommonlyUse.namespace'|translate}}</clr-dg-column> -->
                <clr-dg-column [clrDgField]="'workload.workload.pods.length'">{{'CommonlyUse.type'|translate}}</clr-dg-column>
                <clr-dg-column [clrDgField]="'workload.workload.metadata.apiVersion'">{{'CommonlyUse.containers_total'|translate}}  </clr-dg-column>
                <!-- <clr-dg-column [clrDgSortBy]="'created_at'">{{'CommonlyUse.api_version'|translate}}</clr-dg-column> -->
              
                <clr-dg-row *clrDgItems="let violation of shardService.currentNamespaceviolationList">
                  <clr-dg-cell>
                    <a href="javascript:;" (click)="toWorkload(violation)" >
                      {{violation.workload.workload.metadata.name}}
                      <cds-icon shape="pop-out"></cds-icon>
                    </a>
                  </clr-dg-cell>
                  <!-- <clr-dg-cell>{{violation.workload.workload.metadata.namespace}}</clr-dg-cell> -->
                  <clr-dg-cell>{{violation.workload.workload.metadata.kind}}</clr-dg-cell>
                  <clr-dg-cell>{{violation.workload.workload.pods.length}}</clr-dg-cell>
                  <!-- <clr-dg-cell>{{violation.workload.workload.metadata.apiVersion}}</clr-dg-cell> -->
                </clr-dg-row>

                <clr-dg-footer>
                  <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Workloads per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                      of {{pagination.totalItems}} workloads
                  </clr-dg-pagination>
              </clr-dg-footer>
              </clr-datagrid>
            </clr-tab-content>
        </ng-template> 
    </clr-tab>
  
  </clr-tabs>
</div>
