<div>
  <div class="form-group filter-div">
      <input
          #filterInput
          class="clr-input"
          type="text"
          placeholder="{{ 'LABEL.FILTER_LABEL_PLACEHOLDER' | translate }}"
          (input)="labelFilterInput()"
          [(ngModel)]="labelFilter" />
          <button class="btn btn-icon" aria-label="search" (click)="search()" type="button">
            <cds-icon shape="search"></cds-icon>
          </button>
        </div>
  <!-- <div class="label-items-container">
      <div class="dropdown-item" *ngFor="let label of filteredLabels">
          <div class="cur-pointer" (click)="selectLabel(label)">
              <span class="check-label-span">
                  <cds-icon
                      *ngIf="isSelected(label)"
                      shape="check"></cds-icon>
              </span>
              <span class="cur-pointer">
              </span>
              <span
                  *ngIf="isSelected(label)"
                  class="x-label-span"
                  (click)="$event.stopPropagation(); unselectLabel(label)">
                  <cds-icon shape="times-circle"></cds-icon>
              </span>
          </div>
      </div>
  </div> -->
</div>
