/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */

.report {
  position: relative;
  padding: 15px;
}
.report h2 {
  color: #fff;
}
.report .report-detai-bg {
  position: absolute;
  z-index: 99999;
  right: 0px;
  top: 0px;
  background-color: rgba(28, 42, 50, 0);
  width: 100%;
  height: 100%;
}
.report .report-detai-bg .report-detai {
  position: absolute;
  right: -700px;
  top: 0px;
  width: 1200px;
  height: auto;
  min-height: 100vh;
  opacity: 0;
  transition: right 5s, opacity 2s;
}
.report .report-detai-bg .report-detai.show {
  right: 0px;
  opacity: 1;
  transition: right 5s, opacity 2s;
}
.report::ng-deep clr-datagrid clr-dg-column .datagrid-column-flex button {
  color: #fff;
}
.report::ng-deep clr-datagrid clr-dg-footer clr-dg-page-size {
  color: #fff;
}
.report::ng-deep clr-datagrid clr-dg-footer clr-dg-page-size .clr-select-wrapper select {
  color: #fff;
}
.report::ng-deep clr-datagrid clr-dg-footer .pagination-description {
  color: #fff;
}
.report::ng-deep clr-datagrid clr-dg-row clr-dg-cell {
  color: #fff;
}
