<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="card detail-bg">
  <div id="resize"></div>

  <clr-accordion clrAccordionMultiPanel="true" >
    <clr-accordion-panel >
      <clr-accordion-title>{{'Report_Detail.title'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <ul class="list warp-1">
          <li>
            <b>UID: </b>
            <span>{{shardService.currentReport?._source.reportUID}}</span>
          </li>
          <li>
            <b>Name: </b>
            <span>{{shardService.currentReport?._source.docId}}</span>
          </li>
          <li>
            <b>Namespace: </b>
            <span>{{shardService.currentReport?._source.workloadNamespace}}</span>
          </li>
          <li>
            <b>Container Name: </b>
            <span>{{shardService.currentReport?._source.containerName}}</span>
          </li>
          <li>
            <b>Container Image: </b>
            <span>{{shardService.currentReport?._source.containerImage}}</span>
          </li>
          <li>
            <b>Passed: </b>
            <span>{{shardService.currentReport?._source.passed}}</span>
          </li>
          <li>
            <b>Created Time: </b>
            <span>{{shardService.currentReport?._source.createTime}}</span>
          </li>
        </ul>
      </clr-accordion-content>
    </clr-accordion-panel>


    <clr-accordion-panel [clrAccordionPanelOpen]='true' *ngIf="shardService.currentReport?._source.failures">
      <clr-accordion-title>{{'Report_Detail.failures'|translate}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <clr-datagrid style="height:  200px; overflow:  auto;">
          <clr-dg-column [clrDgField]="'container.name'">Name</clr-dg-column>
          <clr-dg-column >Image</clr-dg-column>
          <clr-dg-column >{{'Report_Detail.isInit'|translate}}</clr-dg-column>
          <clr-dg-column >Cause</clr-dg-column>
          <clr-dg-column >Error</clr-dg-column>

          <clr-dg-row *clrDgItems="let failure of shardService.currentReport?._source.failures" [clrDgItem]="failure">
            <clr-dg-cell>
              {{failure.container.name}}
            </clr-dg-cell>
            <clr-dg-cell>{{failure.container.image}}</clr-dg-cell>
            <clr-dg-cell>{{failure.container.isInit}}</clr-dg-cell>
            <clr-dg-cell>{{failure.assessmentError.cause}}</clr-dg-cell>
            <clr-dg-cell>{{failure.assessmentError.error}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-placeholder *ngIf="false"></clr-dg-placeholder>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">failures per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} failures
            </clr-dg-pagination>
        </clr-dg-footer>
        </clr-datagrid>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>
