<!--
    Copyright 2022 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0
-->

<div class="workload">
  <h2>{{'Workload.list'| translate}}</h2>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'workload.workload.metadata.name'">{{'CommonlyUse.name'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'namespace'">{{'CommonlyUse.namespace'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'workload.workload.metadata.kind'">{{'CommonlyUse.type'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'workload.passed'" >{{'Workload.passed'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'workload.workload.pods.length'" > {{'CommonlyUse.containers_total'|translate}} </clr-dg-column>
    <clr-dg-column [clrDgField]="'workload.workload.metadata.apiVersion'" >{{'CommonlyUse.api_version'|translate}}</clr-dg-column>
  
    <clr-dg-row *clrDgItems="let violation of shardService.allWorkloadList">
      <clr-dg-cell>
        <a href="javascript:;" (click)="toWorkload(violation)" >
          {{violation.workload.workload.metadata.name}}
          <cds-icon shape="pop-out"></cds-icon>
        </a>
      </clr-dg-cell>
      <clr-dg-cell>{{violation.namespace}}</clr-dg-cell>
      <clr-dg-cell>{{violation.workload.workload.metadata.kind}}</clr-dg-cell>
      <clr-dg-cell>{{violation.workload.passed}}</clr-dg-cell>
      <clr-dg-cell>{{violation.workload.workload.pods.length}}</clr-dg-cell>
      <clr-dg-cell>{{violation.workload.workload.metadata.apiVersion}}</clr-dg-cell>
    </clr-dg-row>
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Workloads per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} workloads
      </clr-dg-pagination>
  </clr-dg-footer>
  </clr-datagrid>
  <div id="work-box" class="report-detai-bg" (click)='showDetail($event)' [hidden]="!(shardService.currentWorkload && shardService.showWorkloadDetailFlag)">
    <div id="work-left" class="report-detai-left"></div>
    <div id="work-resize"></div>
    <div id="work-right" class="report-detai" [ngClass]="{'show': shardService.showWorkloadDetailFlag}" style="height: 100%;">
      <app-workload-detail></app-workload-detail>
    </div>
  </div>
</div>
