/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */
.sddc-header {
  padding: 20px;
}
.icon-button cds-icon {
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.icon-button cds-icon:hover {
  color: hsl(198, 80%, 46%);
}
